div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  background-color: black;
  padding: 0.4rem 1.4rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: orange;
}
