.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 8rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: red;
  font-family: arial, sans-serif;
  font-size: 31px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

input {
  border-radius: 0.7rem;
  border-width: 0.1rem;
  height: 32px;
  width: 260px;
}

button {
  background-color: red;
  border: none;
  border-radius: 2rem;
  margin-top: 10px;
  margin-left: 90px;
  color: white;
  padding: 10px 25px;
}
