<div class="container">
  <img src="{{car.imageUrl}}" alt="">

  <div class="details">
    <div class="header">
      <span class="brand">{{car.brand}}</span>
      <span class="favorite {{car.favourite? '': 'not'}}">♥</span>
    </div>

    <div class="fuel">
      <span *ngFor="let fuel of car.fuelType">
        {{fuel}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of car.tags" routerLink="/tag/{{tag}}">{{tag}}</a>
    </div>


    <div class="price">
      <span>
        {{car.price | currency}}
      </span>
    </div>

  </div>
</div>
